In [1]:
import pandas as pd
import os

In [2]:
os.chdir("C:/Users/sjeev/Documents/dataset/Book_recommendation_sys")
path=os.getcwd()
print(path)

C:\Users\sjeev\Documents\dataset\Book_recommendation_sys

In [3]:
User_df=pd.read_csv("C:/Users/sjeev/Documents/dataset/Book_recommendation_sys/Users/Users.csv")
Book_df=pd.read_csv("C:/Users/sjeev/Documents/dataset/Book_recommendation_sys/Books/Books.csv",low_memory=False)
Rating_df=pd.read_csv("C:/Users/sjeev/Documents/dataset/Book_recommendation_sys/Ratings/Ratings.csv")

In [4]:
User_df.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [5]:
Rating_df.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [6]:
Book_df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [7]:
User_df.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [8]:
Rating_df.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [9]:
Book_df.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [10]:
Book_df.shape

(271360, 8)

In [11]:
User_df.shape

(278858, 3)

In [12]:
Rating_df.shape

(1149780, 3)

In [13]:
User_df.duplicated().sum()

0

In [14]:
Book_df.duplicated().sum()

0

In [15]:
Rating_df.duplicated().sum()

0

In [16]:
User_df.columns

Index(['User-ID', 'Location', 'Age'], dtype='object')

In [17]:
Rating_df.columns

Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

In [18]:
Book_df.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [19]:
Rating_Book=Rating_df.merge(Book_df,on="ISBN")
Rating_Book.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [20]:
Rating_Book.count()

User-ID                1031136
ISBN                   1031136
Book-Rating            1031136
Book-Title             1031136
Book-Author            1031134
Year-Of-Publication    1031136
Publisher              1031134
Image-URL-S            1031136
Image-URL-M            1031136
Image-URL-L            1031132
dtype: int64

In [21]:
Rating_Book.groupby("Book-Title").count()

,User-ID,ISBN,Book-Rating,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
Book-Title,,,,,,,,,
"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",4,4,4,4,4,4,4,4,4
Always Have Popsicles,1,1,1,1,1,1,1,1,1
Apple Magic (The Collector's series),1,1,1,1,1,1,1,1,1
"Ask Lily (Young Women of Faith: Lily Series, Book 5)",1,1,1,1,1,1,1,1,1
Beyond IBM: Leadership Marketing and Finance for the 1990s,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
Ã?Â?lpiraten.,2,2,2,2,2,2,2,2,2
Ã?Â?rger mit Produkt X. Roman.,4,4,4,4,4,4,4,4,4
Ã?Â?sterlich leben.,1,1,1,1,1,1,1,1,1
Ã?Â?stlich der Berge.,3,3,3,3,3,3,3,3,3
Ã?Â?thique en toc,2,2,2,2,2,2,2,2,2

In [22]:
Num_rating=Rating_Book.groupby("Book-Title").count()["Book-Rating"].reset_index()
Num_rating=Num_rating.rename(columns={"Book-Title":"Book_Title","Book-Rating":"Num_Rating"},inplace=True)
print(Num_rating)

None

In [23]:
Avg_Rating=Rating_Book.groupby("Book-Title").mean(numeric_only=True)["Book-Rating"].reset_index()
Avg_Rating=Avg_Rating.rename(columns={"Book-Title":"Book_Title","Book-Rating":"Avg_Rating"},inplace=True)
Avg_Rating

In [24]:
Dataframe=Num_rating.merge(Avg_Rating,on="Book_Title")
Dataframe.head()

AttributeError: 'NoneType' object has no attribute 'merge'

In [ ]:
max(Dataframe["Num_Rating"])

In [ ]:
Popular_book=Dataframe.loc[Dataframe["Num_Rating"]>=250]
len(Popular_book)

In [ ]:
Popular_book=Popular_book.drop_duplicates("Book_Title")

In [ ]:
len(Popular_book)

In [ ]:
Top_Books=Popular_book.sort_values("Avg_Rating",ascending=False)

In [ ]:
Top_50=Top_Books.iloc[:50,:]
len(Top_50)

In [27]:
data_pt=Rating_Book.head()
data_pt.tail(10)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [1]:
#Pivot_table=Rating_Book.pivot_table(index="Book-Title",columns="User-ID",values="Book-Rating")